<header class="side-bar">
  <div class="title_1">
    <a href="/">Mona Thijs</a>
  </div>
  <ul class="projects">
    {%- for post in collections.post | reverse -%}
      {% include 'project-snippet.njk' %}
    {%- endfor -%}
  </ul>
</header>