<header class="side-bar">
  <div class="title_1">
    <a href="/">Mona Thijs</a>
  </div>
  <ul class="projects">
    {%- for post in collections.post | reverse -%}
      {% include 'project-snippet.njk' %}
    {%- endfor -%}
    {# foute header#}
    {# <li>
                  <a href="/projects/">De Standaard</a>
                </li>
                <li>
                  <a href="/projects/">Project X</a>
                </li> #}
  </ul>
</header>