@font-face {
  font-family: 'Adelphe Regular';
  src: url(assets/fonts/Adelphe-FlorealRegular.ttf);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* //////////////////////
  GENERAL
  /////////////////////// */
a {
  text-decoration: none;
  color: black;
}
  
a:hover {
  color: rgb(152, 43, 242);
}

body {
  font-family: 'Adelphe Regular';
  display: flex;
  flex-direction: column;
}

.title_1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.start-frame {
  min-height: calc(100vh - 70px);
  width: 85%;
  position: absolute;
  top: 5%;
  left: 18%;
  flex: 1 0 auto;
}

.side-bar {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 242, 228);
  padding: 1.5rem;
  width: 15%;
  height: 100vh;
}

ul, li {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 500px) {
  .side-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    
  }

  .projects {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 1rem;

  }

  .projects li {
    padding-right: 25px ;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: flex-start;
    white-space: nowrap;
  }

  .start-frame {
    width: 100%;
    position: absolute;
    top: 15%;
    left: 5%;
  }
}

/* //////////////////////
  INDIVIDUAL ARTICLE
  /////////////////////// */

/* //////////////////////
  ARTICLE SNIPPET
  /////////////////////// */

